@charset "UTF-8";
/**
 * 
 * @authors Jiang Yun (997241433@qq.com)
 * @date    2016-12-14 09:12:04
 * @version $Id$
 */




 .site-topbar{
 	background-color: #333;
 }

/*顶部导航*/
.site-topbar .container .topbar-nav{
	height: 40px;
	line-height: 40px;
}
.site-topbar .container .topbar-nav ul{
	padding: 0 6px;
}
.site-topbar .container .topbar-nav ul li{
	display: inline-block;
}
.site-topbar .container .topbar-nav ul li + li:before{
	/*line-height: 40px;
	padding-left: 5px;
	border-left: 1px solid #b0b0b0;*/
	content: "|";
	margin-right: 6px;
	color:#424242;
}
.site-topbar .container .topbar-nav ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #b0b0b0;
}
.site-topbar .container .topbar-nav ul li a:hover{
	color: #fff;
}

/*顶部购物车*/
.site-topbar .container .topbar-cart a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #b0b0b0;
	text-align: center;
}
.site-topbar .container .topbar-cart a:hover{
	color: #FAC516;
	background-color: #fff;
}
.site-topbar .container .topbar-cart a i{
	vertical-align: -3px;
}

/*顶部登录信息*/
.site-topbar .container .topbar-info{
	height: 40px;
	margin-right: 20px;
}
.site-topbar .container .topbar-info ul{
	display: inline-block;
}
.site-topbar .container .topbar-info ul li{
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.site-topbar .container .topbar-info ul li + li:before{
	content: "|";
	margin-right: 6px;
	color:#424242;
}
.site-topbar .container .topbar-info ul li a{
	color: #b0b0b0;
}
.site-topbar .container .topbar-info ul li a:hover{
	color: #fff;
}

/*主导航*/
/*============logo部分===========*/
.site-header{
	height: 100px;
}
 .site-logo{
	position: relative;
	width: 49px;
	height: 49px;
	margin-top: 25px;
	background-color: #ff6700;
}
 .site-logo a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 49px;
	height: 49px;
	background: url(../image/mi-logo.png) no-repeat center center;
}
/*============导航菜单部分===========*/
.site-header .container .site-goods-nav{
	display:block;
	height: 100px;
    margin-left: 68px;
}
.site-header .container .site-goods-nav .main-nav{
	display: inline-block;
	height: inherit;
}
.site-header .container .site-goods-nav .main-nav>li{
	display: inline-block;
	margin: 30px 5px;
    height: 40px;
    line-height: 40px;
}
.site-header .container .site-goods-nav .main-nav>li>a{
	display: block;
	height: 20px;
	color: #333;
	font-size: 16px;
}
/*============搜索框部分===========*/
.site-header .container .site-search{
	width: 296px;
	height: 50px;
	margin-top: 25px;
	font-size: 0px;
}
.site-header .container .site-search input{
	display: inline-block;
    height: 44px;
    width: 245px;
    line-height: 50px;
    font-size: 16px;
}
.site-header .container .site-search button{
	display: inline-block;
    height: 44px;
    width: 38px;
    font-size: 18px;
}
/*============全部分类下拉部分===========*/
.site-header .container .site-goods-nav .nav-categorg{
	position: relative;	
}
.site-header .container .site-goods-nav .nav-categorg .goods-categorg{
	position: absolute;
	top:70px;
	left: -122px;
	height: 460px;
	width: 234px;
	z-index: 21;
	font-size: 14px;
	background-color: #ccc;
}
.site-header .container .site-goods-nav .nav-categorg .goods-categorg>ul{
	width:234px;
	padding: 20px 0;
	border: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
}
.site-header .container .site-goods-nav .nav-categorg .goods-categorg>ul>li{
	width: 204px;
	height: 42px;
	display: block;
	padding-left: 30px;
	line-height: 42px;
}
.site-header .container .site-goods-nav .nav-categorg .goods-categorg>ul>li>a{
	width: 90%;
	height: 42px;
	display: inline-block;
	color: #fff;
}
.site-header .container .site-goods-nav .nav-categorg .goods-categorg>ul>li>i{
	display: inline-block;
	color: #fff;
	font-size: 14px;
}
/*.site-header .container .site-goods-nav .nav-item .nav-item-children{
	position: absolute;
	top:140px;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #ccc;
}*/


.main-wrapper{
	position: relative;
	z-index: 10;
}
.main-wrapper .banner{
	position: relative;
	width: 1226px;
	height: 460px;
	overflow: hidden;
}
.main-wrapper .banner .banner-gallery{
    position: absolute;
    top: 0;
    left: 0px;
    width: 3678px;
    height: 460px;
    font-size: 0;
}
.main-wrapper .banner .banner-gallery > li{
	display: inline-block;
}
.main-wrapper .banner .banner-gallery > li >a{
	display: inline-block;
	font-size: 0;
}
.main-wrapper .banner .pic-flag{
	position: absolute;
    bottom: 20px;
    right: 200px;
}
.main-wrapper .banner .pic-flag li{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	background-color: #C6BDBD;
}
.main-wrapper .banner .pic-flag .active-banner{
	background-color: #eee;
}
/*以旧换新等服务区域*/
.main-wrapper .sub-row {
	margin-top: 10px;
}
.main-wrapper .sub-row .sub-row-service{
	width: 234px;
	height: 170px;
	background-color: #5f5750;
}
.main-wrapper .sub-row .sub-row-service>ul{
	margin: 0;
	padding: 3px;
	font-size: 0;
	text-align: center;
}
.main-wrapper .sub-row .sub-row-service>ul>li{
	padding: 0 3px;
	width: 70px;
	height: 82px;
	display: inline-block;

}
.main-wrapper .sub-row .sub-row-service>ul>li>a{
	display: block;
	padding-top: 20px;
	font-size: 12px;
	color: rgba(255,255,255,0.7);
}
.main-wrapper .sub-row .sub-row-service>ul>li>a>i{
	display: block;
    margin-bottom: 10px;
    font-size: 24px;
}

.main-wrapper .sub-row-show{
	display: block;
	margin-left: 14px;
}
.main-wrapper .sub-row-show >ul{
	font-size: 0;
}
.main-wrapper .sub-row-show >ul>li{
	display: inline-block;
	width: 316px;
	height: 170px;
	margin-left: 15px;
	transition: box-shadow .2s linear;
}
.main-wrapper .sub-row-show >ul>li:hover{
	z-index: 2;
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.main-wrapper .sub-row-show >ul>li:first-child{
	margin-left: 0;
}
.main-wrapper .sub-row-show >ul>li>a{
	display: block;
	width: 316px;
	height: 170px;
}
.main-wrapper .sub-row-show >ul>li>a>img{
	display: block;
	width: 316px;
	height: 170px;
}

/*彩虹列表*/
.main-wrapper .colorful-list{
	margin-top: 10px;
	overflow: hidden;
}
.main-wrapper .colorful-list .colorful-list-header{
	position: relative;
	height: 58px;
}
.main-wrapper .colorful-list .colorful-list-header>h2{
	height: 58px;
	margin-left: 20px;
	line-height: 58px;
	font-size: 18px;
}
.main-wrapper .colorful-list .colorful-list-header .colorful-list-more{
	position: absolute;
	right: 10px;
	bottom: 16px;
}
.main-wrapper .colorful-list .colorful-list-header .colorful-list-more>span{
	padding: 2px 5px;
    border: 1px solid #ccc;
}
.main-wrapper .colorful-list>ul{
	width: 2480px;
	height: 340px;
}
.main-wrapper .colorful-list>ul>li{
	width: 234px;
	height: 300px;
	margin-right: 14px;
	padding-top: 39px;
	float: left;
	text-align: center;
	background-color: #fafafa;
}
.main-wrapper .colorful-list>ul>.colorful-li-1{
	border-top: 1px solid #ffac13;
}
.main-wrapper .colorful-list>ul>.colorful-li-2{
	border-top: 1px solid #83c44e;
}
.main-wrapper .colorful-list>ul>.colorful-li-3{
	border-top: 1px solid #2196f3;
}
.main-wrapper .colorful-list>ul>.colorful-li-4{
	border-top: 1px solid #e53935;
}
.main-wrapper .colorful-list>ul>.colorful-li-5{
	border-top: 1px solid #00c0a5;
}
.main-wrapper .colorful-list>ul>li>a{
	display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.main-wrapper .colorful-list>ul>li>a>img{
	display: block;
	width: 160px;
	height: 160px;
}

/*内容展示区*/
/*==========smart区=========*/
.home-page{
	margin-top: 30px;
	padding-top: 30px;
	display: block;
	background-color: #fafafa;
}
.home-page .smart{
	height: 686px;
	margin-bottom: 8px;
}
.headbox{
	position: relative;
	height: 58px;
}
.headbox .headbox-title{
	margin:0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.headbox .headbox-more{
	position: absolute;
	top: 0;
	right: 0;
}
.headbox .headbox-more .more-link{
	font-size: 16px;
	line-height: 58px;
	color: #424242;
}
.headbox .headbox-more .more-link .iconfont{
	width: 12px;
	height: 12px;
	padding: 4px;
	margin-left: 8px;
	border-radius: 16px;
	font-size: 12px;
	line-height: 12px;
	background-color: #b0b0b0;
	color: #fff;
}

.col-1{
	width: 234px;
}
.col-1>ul{
	height: 614px;
}
.col-1>ul>li{
	height: 614px;
	width: 234px;
	margin-bottom: 14px;
}
.col-1>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.col-1>ul>li>a>img{
	width: 234px;
	height: 614px;
}
.col-4{
	width: 978px;
	/*margin-left: 14px;*/
}
.col-4>ul{
	width: 992px;
	height: 614px;
}
.col-4>ul>li{
	float: left;
	width: 234px;
	height: 260px;
	padding: 20px 0;
	margin: 0 0 14px 14px;
	background-color: #fff;
	text-align: center;
}
.col-4>ul>li>a{
	display: block;
	color: #333;
}
.col-4>ul>li>a>img{
	width: 160px;
	height: 160px;
}
.col-4>ul>li>a>p:last-child{
	color: #ff6700;
	font-size: 16px;
}






/*网页底部*/
.footer-service{
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;
}
.footer-service >ul{
	display: block;
}
.footer-service >ul>li{
	float: left;
	border-right: 1px solid #e0e0e0;
	margin-right: 30px;
}
.footer-service >ul>li:last-child{
	border: none;
}
.footer-service >ul>li>a{
	width: 200px;
    height: 25px;
    color: #616161;
    font-size: 16px;
    line-height: 25px;
    display: block;
    text-align: center;
}
.footer-service >ul>li>a>i{
	font-size: 24px;
	line-height: 24px;
}
.footer-links{
	/*width: 160px;*/
	height: 112px;
	padding: 40px 0;
}
.footer-links dl{
	display: block;
	width: 160px;
	height: 112px;
	float: left;
	margin: 0;
	color: #424242;
}
.footer-links dl dt{
	font-size: 14px;
    line-height: 1.25;
    margin: 0 0 26px;
}
.footer-links dl dd{
	margin: 10px 0 0;
    font-size: 12px;
}
.footer-links dl dd a{
	color: #757575;
}

.footer-links .contact-us{
	width: 252px;
	height: 112px;
	display: inline-block;
	border-left: 1px solid #ccc;
	text-align: center;
}
.footer-links .contact-us .tel{
	margin: 0 0 5px;
	color: #ff6700;
	font-size: 22px;
	line-height: 22px;
	font-weight: 900;
}
.footer-links .contact-us a{
	border: 1px solid #FF5722;
    padding: 5px;
    color: #ff6722;
    font-size: 12px;
}
.site-info{
	margin: 20px 0;
	background-color: #fafafa;
}
.site-info .site-info-text{
	padding: 20px;
}
.site-info .site-info-links{
	padding: 30px 0;
}
.site-info .site-info-links>a>img{
	width: 85px;
}
.slogan{
	width: 267px;
	height: 19px;
	margin: 0 auto 30px;
	background: url(../image/slogan2016.png) no-repeat center;
}